
.head > span{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.head > span:first-child{margin-right: 900px;}

.body > div{
    font-weight: bold;
    padding:50px;
    text-align: center;
}

.image {text-align: center}
.img1 {width:100%}
.img2 {
    display: inline-block;
    height: 150px;
}