body {
    margin: 0;
}

nav {
    padding: 1rem;
    background-color: gray;
}

.nav-logo{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-items {
    float: right;
    margin: 0;
}

.nav-item{
    list-style: none;
    display: inline;
}

.cover{
    height: 500px;
    /*한줄 텍스트일 때, 수직 가운데 정렬
    line height
    */
    
    /*line-height: 500px;*/
    
    /*display: table;
    width: 100%;*/ 
    
    /*display: flex;
    justify-content: center;
    align-items: center;*/

    background-image: url('images/bicycles.jpg');
    /* background-size: cover; */
    text-align: center;
}

.cover-title{
    margin: 0;
    /*vertical-align: middle;
    display: table-cell;*/
}

.contents {
    text-align: center;
}

.contents > img {
    width: 500px;
}